.container {
      display: flex;
      justify-content: left;
      align-items: left;
}

      input[name="true"], textarea.container {
          background-color : green;
        }
        input[name="false"], textarea.container {
            background-color : red;
          }
