

			body 	{
				font-family: Arial, Verdana, sans-serif;
				background-color: rgb(200,200,200);
				width: 96%;
				margin: 0px 20px 0px 22px;
				line-height: 2.0em;
				padding: 0px 0px 0px 2px;}
			#nav 	{
				padding: 2px 0px 8px 12px;
				background-color: rgb(180,179,175);
				margin: 2%;
				text-align: center;
				line-height: 2.0em;
				font-size: 125%;
				border-top: 2px solid #665544;
				border-bottom: 2px solid #665544;
				width: 94%;
				height: 60%;
				border-align: center;}
			#content {
				overflow: auto;}
			#feature {
				background-color: rgb(200,200,200);
				padding: 10px
				margin: 10px;}
			.column1, .column2, .column3, column4	{
				float: left;
				width: 23.0%;
				margin: 1%;
				text-align: center;}
			h1      {
				text-transform: uppercase;
				background-color: white;
				color: #ffffff;
				font-size: 57px;
				text-shadow: 11px -14px 12px #775544;}
			p1	{
				text-decoration: underline;
				font-weight: bold;
				font-size: 18px;}
			p3	{
				font-weight: bold;
				font-size: 14px;
				color: #e0d080;
				font-style: italic;}
			p4	{
				font-weight: bold;
				font-size: 12px;
				color: blue;
				font-style: italic;
				text-indent: 20px;}
            p6	{
				font-weight: bold;
				font-size: 20px;
				color: blue;
				font-style: italic;
				text-indent: 20px;}

			ul      {
				margin: 5px 0px 00px 0px;}
			li      {
				display: inline;
				padding: 0.5em;
				background-color: white;
				margin:0px 50px 0px 0px;
				border-style: dashed;
				border-color: #665544;
				border-radius: 10px
				-moz-border-radius: 10px;
				-webkit-border-radius: 10px;}
			lii     {
				display: inline;
				padding: 0.5em;
				background-color: green;
				margin:0px 50px 0px 0px;
				border-style: solid;
				border-color: #665544;
				border-radius: 10px
				-moz-border-radius: 10px;
				-webkit-border-radius: 10px;
				}
			img.right{

				boarder: 1px solid #999; clear: right;}
			i	{
				color: red;}
			em	{
				color: green;}
			a       {
				font-family: Verdana;
				font-weight: bold;
				padding: 2px 5px 0px 5px;
				color: black;}
			a:link, a: visited {
				background: transparant url(Images/Hor_rood.gif)no-repeat top center;
				border-top: 4px solid #CD5C5C;
				border-bottom: 4px solid #CD5C5C;
				color: #555;}
			a:hover, a:active {
				background:transparant url(Images/Hor_groen.gif)no-repeat top center;
				border-top: 4px solid #CD5C5C;
				border-bottom: 4px solid #CD5C5C;
				color: #888;}
			div 	{
				overflow: auto;
				width: 100%;}
			#footer	{
				text-align:center;
				padding: 100px 0px 0px 0px;}




    /* Popup box BEGIN */
.pop_scherm{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.pop_scherm .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
    text-align: left;
}
.pop_scherm > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 350px;
    min-height: 150px;
    vertical-align: middle;
    width: 100%;
    position: relative;
    border-radius: 4px;
    padding: 10px 10% 10px 10px;
    text-align: left;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}

p5{
  font-size:16px;
  color:green;
  }

/* Popup box EINDE */
