<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
        <title>File Uploader</title>
<link rel="stylesheet" type="text/css" href="css.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>


<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css.css">

<script src="https://code.jquery.com/jquery-3.1.0.js"></script>


<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<!--script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script-->

<script src="upload.js"></script>

<body>

<div class="grid-container5">
  <div></div>
  <div><div class="inner"><i>Klik hier voor de file upload</i><br>
    <select id="Selectedsoortupload" onchange="Selectedsoortupload()">
      <option value="0;">-- Select --</option>
      <option value="true">Personeelmutatie</option>
        <option value="false">Slaris gegevens updaten</option>
        </select>
    <select id="ScheidingstekenGekozen1" onchange="GetSelectedValue()">
      <option value="0;">-- Select --</option>
      <option value="1">Tab: "   "</option>
      <option value="2">Komma: ","</option>
        <option value="3">Punt: "."</option>
          <option value="4">Dubbelepunt: ":"</option>
            <option value="5">Puntkomma: ";"</option>
            <option value="6">spatie: " </option>
    </select>

        </div>




      </div>




  <div></div>

<div></div>
<div><div>
</div>
</div>
<div></div>
<div></div>

<div>
  <div class="alertbox">
    <i id="ScheidingstekenGekozen" ></i>
  </div>
</div>
<div></div>
</div>

<div class="grid-container5">
  <div></div>

      <div class="input-group">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" type="button" onclick="uploadFormData()" id="inputGroupFileAddon01">Upload</button>
        </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01"aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" for="inputGroupFile01"></label>

    </div>
  </div>
  <div></div>
</div>
<div></div>
<div></div>
</div>
<br><br>
  </div>

<div class="grid-container5">

<div>
  <form id="updatetabel" class= "" action="isdfndex.html" method="post">
        <table id="datatabel">
          <tr id="tr">
            <div class="grid-container2">
              <div>
           <input class="form-data" type="text" value="socialsecurity_id" readonly="readonly"> </div><div>
           <input class="form-data" type="text" value="employer_id" readonly="readonly"></div><div>
              <input class="form-data" type="text" value="invoice_id" readonly="readonly"> </div><div>
                 <input class="form-data" type="text" value="salary" readonly="readonly"> </div><div>
                   <input class="form-data" type="text" value="parttime_factor" readonly="readonly"> </div><div>

           <input class="form-data" type="text" value="first_name" readonly="readonly"> </div><div>
           <input class="form-data" type="text" value="last_name" readonly="readonly"> </div><div>
           <input class="form-data" type="text" value="date_of_birth" readonly="readonly"> </div><div>
           <input class="form-data" type="text" value="status" readonly="readonly"> </div><div>
           <input class="form-data" type="text" value="gender" readonly="readonly"> </div><div>
           <input class="form-data"  type="text" value="adress_id" readonly="readonly"> </div><div>
           <input class="form-data" type="text" value="communication_type" readonly="readonly"> </div><div>
           <input class="form-data" type="text" value="hire_date" readonly="readonly"> </div><div>
                </div>
                 </tr>
               </table>
            </form>
      </div>
<div></div>
</div>

<div class="grid-container5">
<div></div>
<div>
  <div class="alertbox">
    <i id="uploadCompleteAlert" ></i>
  </div>
</div>
<div></div>
</div>




</body>
</html>
